<body>
    <br><br><br>
    <form >
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="text-center">
                 <h1 class="text-center mt-5" style="text-transform: uppercase; font-weight:700 ; font-size: 35px; color: #245166;"><i class="fa fa-file-text fa-2x" aria-hidden="true"></i><br><br>School of Computing</h1>
                <br>
            </div>
            <hr>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <hr>
            <div class="mb-3">
                <button class="btn btn-lg form-control" style="background-color: #245166; color: white  ;">Login</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>